.scroller {
	overflow: hidden;
}

.section {

}

/* Clear floats of children */
.section:before,
.section:after {
	content: " ";
	display: table;
}

.section:after {
	clear: both;
}

/* Text styling */
.section h3 {
	font-size: 4em;
	font-weight: 300;
	line-height: 1;
}

.section-info {
	font-size: 1.5em;
	font-weight: 200;
}

.section-info-title {
	font-weight: 400;
	padding-left: 0em;
}

.section-feature-icon {
	width: 20%;
	padding-top: 2em;
	padding-left: 2em;
	float: left;
}

.section-feature {
	width: 80%;
	float: left;
	padding-left: 2em;
}

#section-mobile-icon {
	padding-top: 3em;
	padding-left: 3.1em;
}

#section-mobile-feature {

}

.pic {

}

#burger-pic {
	margin-top: 5em;
}

/* Sides */
.side {
	width: 50%;
	float: left;
	margin: 0;
	padding: 3em 4%;
	overflow: hidden;
	min-height: 12em;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

/* Clear floats of children */
.side:before,
.side:after {
	content: " ";
	display: table;
}

.side:after {
	clear: both;
}

.side-right {
	text-align: left;
}

.side-left {
	text-align: left;

}

.side-right img {
	float: left;
}

.side-left img {
	float: right;
}

.side-left-info {
	width: 60%;
	padding-left: 6em;
}

.side-right-pic {
	width: 40%;
	padding: 7em 5em 5em 0;
}

/* Initial state (hidden or anything else) */
.init .side {
	opacity: 0;
}

.init .side-left {
	-webkit-transform: translateX(-80px);
	-moz-transform: translateX(-80px);
	transform: translateX(-80px);
}

.init .side-right {
	-webkit-transform: translateX(80px);
	-moz-transform: translateX(80px);
	transform: translateX(80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.section.animate .side-left,
.section.animate .side-right {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}

/* For example, add a delay for the right side:
.section.animate .side-right {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
*/

/* Example media queries */

@media screen and (max-width: 63.5em) {
	.scroller {
		font-size: 65%;
	}

	.section h3 {
		margin: 0;
	}

	.side img {
		max-width: 120%;
	}

	#burger-pic {
		margin-top: -4em;
	}
}

@media screen and (max-width: 41.125em) {
	.side {
		float: none;
		width: 100%;
	}

	.side img {
		max-width: 100%;
	}
}

