@font-face {
	font-family: 'badaboom';
	src:url('../fonts/badaboom.ttf');
}

body {
	color: #444961;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

#header_wrapper {
	width: 100%;
	text-align: center;
	font-size: 5.5em;
	font-weight: 100;
	line-height: 1.1;
}

#header_wrapper > h1 {
	font-size: 0.5em;
	/*margin: 40px 0 0 0; 
	*/
}

#beta-invite {
	font-size: 0.3em;
}

#title {
	margin: 0 0 0 0;
}
#title span{
	font-size: 0.3em;
}
span {
	display: block;
}
