@font-face {
	font-family: 'badaboom';
	src:url('../fonts/badaboom.ttf');
}

header {
	color: #444961;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	height: 100%;
}

#header_wrapper {
	width: 100%;
	text-align: center;
	font-size: 5.5em;
	font-weight: 100;
	line-height: 1.1;
}


input[type=email]{
	padding: 9px;
	font-size: 18px;

	margin: 0;

	border: 2px solid;
	border-radius:5px;
	border-color: rgba(219,87,5,1);

	background: #eee;
	color: #444961;
}


#title {
	margin: 0 0 0 0;
}
#title span{
	font-size: 0.3em;
}

#slogan {
	padding: 0px;
	margin: 30 0 0 0;
	font-size: 0.4em;
}

#beta-invite {
	font-size: 0.2em;
}

span {
	display: block;
}


/*body { background-image: url(http://subtlepatterns.com/patterns/ricepaper.png) }*/

#submit-button {
	cursor: pointer;
	padding: 6px;
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 0.25em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: -6px 0px 0px rgba(219,31,5,1), 0px 3px 3px rgba(0,0,0,.7);
    -moz-box-shadow: -6px 0px 0px rgba(219,31,5,1), 0px 3px 3px rgba(0,0,0,.7);
    box-shadow: -6px 0px 0px rgba(219,31,5,1), 0px 3px 3px rgba(0,0,0,.7);
    /*
    margin: 100px auto;
	width: 160px; 
	*/
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

#submit-button:hover {
    -webkit-box-shadow: -3px 0px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: -3px 0px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: -3px 0px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    right: 6px;
}

form {
	margin: -0.4em 0em 0em 0em;
} 

#down-arrow-holder {
	width: 100%;
	padding-top: 1.5em;
	text-align: center;
}
